.answers-container-enter {
    opacity: 0;
    transform: translateX(-1em);
    transition: all 0.25s cubic-bezier(0, 0, 0.2, 1);
}   
.answers-container-enter-active {
    opacity: 1;
    transform: translateX(0.5em);
}
.answers-container-exit {
    opacity: 1;
    transform: translateX(0.5em);
    transition: all 0.25s cubic-bezier(0, 0, 0.2, 1);
}   
.answers-container-exit-active {
    opacity: 0;
    transform: translateX(-1em);
}
.answers-container {
    transform: translateX(0.5em);
    width: 45%;
    margin: auto;
    .answer-container {
        width: 100%;
        background: white;
        border: 1px solid lightgrey;
        border-right: 5px solid #388e3c;
        box-sizing: border-box;
        padding: 0.2em 0.5em;
        border-radius: 5px;
        margin-top: 0.5em;
        .info-and-settings {
            position: relative;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            //border-bottom: 1px solid rgb(235, 235, 235);
            margin-bottom: 0.2em;
            box-sizing: border-box;
            padding: 0.2em;
            min-height: 1.5em;
            .date {
                display: inline-block;
                color: grey;
                font-size: 0.7em;
                text-align: center;
                width: 100%;
            }
        }
        .answer {
            padding: 0.25em;
            .text {
                font-size: 0.8em;
            }
        }
        .iconbar {
            margin-top: 0.2em;
            //text-align: center;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .likee-bar {
                position: relative;
                //height: 100%;
                display: flex;
                flex-direction: row;
                .animated-icon {
                    //width: 1em;
                    margin: auto 0.25em;
                    width: 0.8em;
                    svg {
                        vertical-align: middle;
                    }
                    &.likee {
                        width: 0.95em;
                    }
                }
            }
        }
    }
}