.answers-container-enter {
    opacity: 0;
    transform: translateX(-1em);
    transition: all 0.25s cubic-bezier(0, 0, 0.2, 1);
}   
.answers-container-enter-active {
    opacity: 1;
    transform: none;
}
.answers-container-exit {
    opacity: 1;
    transform: none;
    transition: all 0.25s cubic-bezier(0, 0, 0.2, 1);
}   
.answers-container-exit-active {
    opacity: 0;
    transform: translateX(-1em);
}
.answers-container {
    .answer-container {
        transform: translateX(0.5em);
        width: 45%;
        margin: auto;
        background: white;
        border: 1px solid lightgrey;
        border-right: 5px solid #388e3c;
        box-sizing: border-box;
        padding: 0.2em 0.5em;
        border-radius: 5px;
        
        .answer {
            .text {
                font-size: 0.8em;
            }
        }
        .iconbar {
            margin-top: 0.2em;
            //text-align: center;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .likee-bar {
                position: relative;
                //height: 100%;
                display: flex;
                flex-direction: row;
                .animated-icon {
                    //width: 1em;
                    margin: auto 0.25em;
                    width: 0.8em;
                    svg {
                        vertical-align: middle;
                    }
                    &.likee {
                        width: 0.95em;
                    }
                }
            }
        }
    }
}