.new-answer {
    width: 100%;
    margin: 0.5em auto;
    resize: none;
    font-family: 'Roboto', sans-serif;
    
    padding: 0.25em;
    box-sizing: border-box;
    background: #fafbfc;  
    border-bottom: 1px solid lightgrey;
    border-right: 2px dashed #4caf50;
    transform: translateX(1.5em);
    textarea {
        font-size: 0.8em;
        width: 100%;
        outline: none;
        border-radius: 0.2em;
        box-sizing: border-box;
        padding: 0.2em 0.5em;
        border: none;
        resize: none;
        background: inherit;
        height: 100%;
        display: block;
    }
}