.question {
    position: relative;
    width: 45%;
    margin: 1.5em auto;
    border-radius: 5px;
    background: #ffffff; 
    background-size: cover;   
    box-sizing: border-box;
    padding: 0.2em 0.5em;
    box-shadow: 0 10px 25px rgba(0,0,0,.15);
    font-family: 'Roboto', sans-serif;
    color: #424242;
    border-left: 5px solid #ff6768;
    transition: all 0.25s cubic-bezier(0, 0, 0.2, 1);
    &.invalid {
        opacity: 0.5;
    }
    .info-and-settings {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        //border-bottom: 1px solid rgb(235, 235, 235);
        //margin-bottom: 0.5em;
        box-sizing: border-box;
        padding: 0.2em;
        min-height: 1.5em;
        .date {
            display: inline-block;
            color: grey;
            font-size: 0.7em;
            text-align: center;
            width: 100%;
        }
        .likee-bar {
            position: absolute;
            left: 0em;
            top: 0;
            height: 100%;
            display: flex;
            flex-direction: row;
            .animated-icon {
                width: 1em;
                margin: auto 0.5em;
                svg {
                    vertical-align: middle;
                }
                &.likee {
                    width: 1.2em;
                }
            }
        }
        .settings {
            z-index: 100;
            position: absolute;
            right: 0em;
            top: 0;
            height: 100%;
            display: flex;
            flex-direction: row;
            .menu-button {
                svg {
                    width: 1.3em !important;
                    height: 1.3em !important;
                    vertical-align: middle;
                }
                border-radius: 50%;
                //box-shadow: 0 3.2px 7.2px 0 rgba(0,0,0,.132), 0 0.6px 1.8px 0 rgba(0,0,0,.108);
                width: 1.4em;
                height: 1.4em;
                text-align: center;
            }
            .question-menu-enter {
                transform: translateY(100%), scale(0.5);
                opacity: 0;
                transition: 0.25s all cubic-bezier(0, 0, 0.2, 1);
            }
            .question-menu-enter-active {
                transform: translateY(100%);
                opacity: 1;
            }
            .question-menu-exit {
                transform: translateY(100%);
                opacity: 1;
                transition: 0.25s all cubic-bezier(0, 0, 0.2, 1);
            }
            .question-menu-exit-active {
                transform: translateY(100%), scale(0.5);
                opacity: 0;
            }
            
            .question-menu {
                position: absolute;
                right: 0em;
                bottom: 0;
                background: white;
                transform: translateY(100%);
                width: 175px;
                box-shadow: 0 25.6px 57.6px 0 rgba(0,0,0,.22), 0 4.8px 14.4px 0 rgba(0,0,0,.18);
                button {
                    width: 100%;
                    text-transform: none;
                    min-width: 0;
                    padding: 0.1em 0.2em;
                    font: {
                        family: 'Maven Pro', sans-serif;
                        size: 0.7em;
                    }
                    svg {
                        width: 1.2em !important;
                        height: 100%;
                        //vertical-align: middle;
                    }
                }
                &:after {
                    content: '';
                    position: absolute;
                    right: 10px;
                    top: -0.25em;
                    border-left: 10px solid transparent;
                    border-right: 5px solid transparent;
                    border-bottom: 0.25em solid white;
                }
            }
        }
    }
    .content {
        display: flex;
        flex-direction: row;
        .msg-icon-type {
            height: 100%;
            svg {
                vertical-align: middle;
            }
        }
        .q {
            font-size: 0.8em;
            width: 100%;
            //font-weight: 700;
            .text {
                .markdown-render {
                    padding: 0.5em;
                    //margin: auto 5px;
                    white-space: pre-wrap;
                    p:first-child {
                        margin-top: 0
                    }
                    p:last-child {
                        margin-bottom: 0;
                    }
                }
                .edit-text {
                    box-sizing: border-box;
                    width: 100%;
                    border: 1px solid lightgrey;
                    padding: 0.5em;
                    .edit-toolbar {
                        margin-bottom: 0.2em;
                        float: right;
                        .animated-button {
                            opacity: 0.5;
                            text-transform: none;
                            letter-spacing: unset;
                            font-family: 'Maven Pro', sans-serif;
                            font-size: 0.8em;
                            min-width: 0;
                            padding: 0.1em 0.5em;
                            color: grey;
                            line-height: 1;
                            border-right: 1px solid lightgrey;
                            border-radius: 0;
                            span {
                                margin-right: 0.1em
                            }
                            svg {
                                //vertical-align: middle;
                                width: 0.7em !important;
                                height: 0.7em !important;
                            }
                            &:last-child {
                                border-right: none;
                            }
                        }
                    }
                    textarea {
                        display: block;
                        //resize: unset;
                        min-width: calc(100% - 1em);
                        outline: none;
                        resize: unset;
                        border: none;
                        background: whitesmoke;
                        padding: 0.5em;
                    }
                }

                
            }
        }
    }
    .iconbar {
        //margin-top: 0.5em;
        //text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        
        .cond-check {
            text-transform: none;
            letter-spacing: unset;
            margin: auto 0.5em;
            transition: 0.2s all cubic-bezier(0,0,0.2,1);
            font: {
                family: 'Maven Pro', sans-serif;
                size: 0.7em;
            }
            span.MuiButton-startIcon {
                margin-right: 0.2em;
            }
            svg {
                stroke-width: 1px;
                color: #424242;
                width: 1em;
                height: 1em;
            }
            &.checked {
                background: #e43f5a;
                color: white;
                svg {
                    color: white;
                    stroke-width: 2.5px;
                }
            }
        }
    }
}