.refresh-loader {
    background: #17223b;
    transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);
    height: 0;
    &.is-refreshing {
        height: 100px;
        .refresh-icon {
            margin: auto;
            text-align: center;
            svg {
                height: 100px !important;
                width: 100px !important;
                vertical-align: middle;
            } 
        }
        
    }
}