.login-container {
    font-family: 'Nunito', sans-serif;
    width: 40%;
    min-width: 400px;
    margin: 1em auto;
    background: white;
    box-shadow: 0 3.2px 7.2px 0 rgba(0,0,0,.132), 0 0.6px 1.8px 0 rgba(0,0,0,.108);
    box-sizing: border-box;
    padding: 0.5em;
    .login-pw-field {
        display: block;
        //width: 100%;
        padding: 0.2em 0.5em;
        margin: auto;
        input {
            width: 100%;
            font-family: 'Nunito', sans-serif;
            font-size: 0.8em;
        }
    }
    .login {
        display: block;
        max-width: 150px;
        margin: 0.5em auto 0;
        background: #fff9c4;
        color: #f57f17;
        font-family: 'Nunito', sans-serif;
        font-weight: 600;
        letter-spacing: unset;
        text-transform: none;
    }
}